.modal-container {
    position: absolute;
    box-shadow: 3px 3px 10px pink, -3px -3px 10px pink;
    width: 600px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
} */